@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام</th>
            <th>تلفن</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}} </td>
            <td>{{item.telephone}}</td>
            <td>
                <button (click)="edit(item)" class="primary">ویرایش</button>
                <button (click)="remove(item)" class="primary">حذف</button>
            </td>
        </tr>

        }
    </tbody>
</table>
}
@else {
@if (state=='remove') {
<div class="alert">
    از حذف این مشترک اطمینان دارید؟
</div>
}

<form (ngSubmit)="save()">
    @if (state!='edit') {
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    }
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.name" id="name" name="name" type="text"
            placeholder="نام کاربر">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.telephone" id="telephone" name="telephone" type="text"
            placeholder="شماره تماس">
    </div>
    <div>
        <button class="primary" type="submit">تایید</button>
        <button (click)="cancel()" class="primary" type="button">انصراف</button>
    </div>
</form>
}