.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    height: 100vh;
    background: #1e40af;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #e0f2fe;
    display: block;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
    background: #ff7f50;
    color: #fff;
}

.content {
    margin-right: 250px;
    padding: 0.4em;
}